recursive-include    ckanext/grouphierarchy/fanstatic  *
recursive-include    ckanext/grouphierarchy/logic      *
recursive-include    ckanext/grouphierarchy/public     *
recursive-include    ckanext/grouphierarchy/templates  *
