
<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('What are Groups?') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
           Alle Einträge im Katalog können verschiedenen Gruppen zugeordnet werden,
           um die Einordnung und Recherche der Informationen einfach zu gestalten. 
           Jeder Datensatz ist dabei in genau einer Hauptkategorie-Gruppe, 
           und keiner, einer oder mehreren Modellregionen-Gruppen bzw. 
           Themen-Gruppen eingetragen. Die Aufteilung der einzelnen Gruppen ist wie folgt:
        {% endtrans %}
      </p>
      {% set top_nodes = h.group_tree(organizations=organizations, type_='group') %}
      {% for node in top_nodes recursive %}
      <p></p>
      <b>{{ _(node.title) }}</b>
      {% if node.children %}
      <ul>
        <li style="list-style-type: none;">{{ loop( node.children ) }}</li>
      </ul>
      {% endif %}
      {% endfor %}
    </div>
  </div>
