.dataset-markers {
  list-style-type: none;
  margin: 0 -25px 0 0px;
  padding: 0;
  float: right;
}

.dataset-markers .marker {
  width: 160px;
  line-height: 22px;
  margin: 15px 0;
  background: #888;
}

.dataset-markers .marker:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 130px 8px 0;
  border-color: transparent black transparent transparent;
  float: right;
}

.dataset-markers .marker:first-child {
  margin-top: 0;
}

.dataset-markers .marker.main-g {
  background: #2980b9;
}

.dataset-markers .marker.main-g:after {
  border-right-color: #2472a4;
}

.dataset-markers .marker.theme {
  background: #9b59b6;
}

.dataset-markers .marker.theme:after {
  border-right-color: #8e44ad;
}



.dataset-markers .marker.zero {
  background: #e3731e;
}

.dataset-markers .marker.zero:after {
  border-right-color: #bf5d13;
}

.dataset-markers .marker.one {
  background: #346ce3;
}

.dataset-markers .marker.one:after {
  border-right-color: #2b5abd;
}

.dataset-markers .marker.two {
  background: #00ad0e;
}

.dataset-markers .marker.two:after {
  border-right-color: #088512;
}

.dataset-markers .marker.three {
  background: #a6a6a6;
}

.dataset-markers .marker.three:after {
  border-right-color: #8a8a8a;
}

.dataset-markers .marker.four {
  background: #d13838;
}

.dataset-markers .marker.four:after {
  border-right-color: #b03535;
}

.dataset-markers .marker.five {
  background: #5fc4e3;
}

.dataset-markers .marker.five:after {
  border-right-color: #4ea5bf;
}

.dataset-markers .marker.six {
  background: #b5b065;
}

.dataset-markers .marker.six:after {
  border-right-color: #918d50;
}

.dataset-markers .marker.seven {
  background: #7f5ed1;
}

.dataset-markers .marker.seven:after {
  border-right-color: #584191;
}

.dataset-markers .marker.eight {
  background: #e74c3c;
}

.dataset-markers .marker.eight:after {
  border-right-color: #cd3121;
}

.dataset-markers .marker.free {
  background: #7f8c8d;
}

.dataset-markers .marker.free:after {
  border-right-color: #667273;
}

.dataset-markers .marker a,
.dataset-markers .marker div {
  display: block;
  padding: 5px 8px;
  color: #fff;
  font-size: 15px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica';
  font-weight: bold;
}

.dataset-markers .marker.small a {
  font-size: 12px;
  overflow: hidden;
  text-overflow: clip;
}

.dataset-list .dataset-markers {
  margin-right: -25px;
  margin-left: 10px;
}

.dataset-marker-type-icon {
  float: right;
  margin-left: 25px;
}

.dataset-marker-type-icon a {
  color: #000;
}

.dataset-marker-type-icon a:hover {
  text-decoration: none;
  color: #000;
}
