<div class="box" style="background-color:#0065bd">
    <a href="">
        <center>
            <a href="{{ h.url_for('organization.index') }}">
                <h2 style="color: white; border: 10px">
                    {{ _("Organizations") }}
                </h2>
            </a>
        </center>
    </a>
</div>

{% if orgs %}
{% for org in orgs %}

<div class="box">
    <section class="group_list module moudle-narrow module-shallow">
        <header class="module-heading">

            {% set org_image = h.url_for_static('uploads/group/' + org.image_url) %}
            {% if not org.image_url %}
                {% set org_image = h.url_for_static('/base/images/placeholder-organization.png') %}
            {% endif %}

            <a class="module-image" href="{{ org.image_display_url }}">
                <img alt="{{org.title}}" src="{{ org_image }}" style="position:relative;bottom: 6px;">
            </a>
            <h3 class="media-heading">
                <a href="{{ h.url_for('organization.read', id=org.name) }}">{{ _(org.display_name) }}</a>
            </h3>
        </header>

        {% for pkg in org.packages() %}
        <ul class="list-unstyled dataset-list">
            <li class="dataset-item module-content">
                <div class="dataset-content">
                    <div class="dataset-content">
                        <h3 class="dataset-heading">
                            <a href="{{ h.url_for('dataset.read', id=pkg.name) }}">{{ _(pkg.title) }}</a>
                        </h3>
                        {% set truncate = truncate or 180 %}
                        {% set notes = h.markdown_extract(pkg.notes, extract_length=truncate) %}
                        <div>{{ notes }}</div>
                    </div>
                </div>
            </li>
        </ul>
        {% endfor %}
    </section>
</div>
{% endfor %}
{% endif %}
