{#% set marker_strlen = 12 %#}
{% set pkg = c.pkg_dict %}
{% set count = h.get_allowable_children_groups_g('main-categories') %}
{% set main_categories = h.get_selected_group(pkg.groups, 'main-categories') %}
{#% set topics = h.get_selected_group(pkg.groups, 'topics') %}
{% set model_regions = h.get_selected_group(pkg.groups, 'model-regions') %#}

{% resource 'grouphierarchy/group_label.css' %}




<ul class="dataset-markers">
{% for main in main_categories %}
    {% if main.name == count[0].name %}
    <li class="marker zero">
    {% elif main.name == count[1].name %}
    <li class="marker one">
    {% elif main.name == count[2].name %}
    <li class="marker two">
    {% elif main.name == count[3].name %}
    <li class="marker three">
    {% elif main.name == count[4].name %}
    <li class="marker four">
    {% elif main.name == count[5].name %}
    <li class="marker five">
    {% elif main.name == count[6].name %}
    <li class="marker six">
    {% elif main.name == count[7].name %}
    <li class="marker seven">
    {% elif main.name == count[8].name %}
    <li class="marker eight">
    {% else%}
    <li class="marker free">
    {% endif %}
    <a href="{{ app_globals.site_url }}/group/{{ main.name }}">{{ main.title }}</a></li>
{% endfor %}

{#
{% for main_category in main_categories %}
    <li class="marker main_category-g"><a href="{{ app_globals.site_url }}/group/{{ main_category.name }}">{{ main_category.title }}</a></li>
{% endfor %}

{% if topics %}
{% for topic in topics %}
    <li class="marker topic"><a href="{{ app_globals.site_url }}/group/{{ topic.name }}">{{ topic.title }}</a></li>
{% endfor %}
{% endif %}

{% if model_regions %}
{% for model_region in model_regions %}
    <li class="marker model_region"><a href="{{ app_globals.site_url }}/group/{{ model_region.name }}">{{ model_region.title }}</a></li>
{% endfor %}
{% endif %}
#}
</ul>


























